
h1 {
    color: white;
    background-color: rgb(29, 26, 26);
    width: 200px;
    text-align: center;
    border-radius: 25px;
    margin-left: 45%;
  }
.ST {
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 400px;
    text-align: center;
    border-radius: 25px;
    margin-left: 40%;
  }
body {
    background: linear-gradient(slateblue, lightblue);
}
